.body {
  color: brown;
  height: 50px;
  width: 60px;
  display: inline-block;
}

.bodyInactive {
  color: brown;
  height: 50px;
  width: 60px;
  display: inline-block;
  pointer-events: none;
}

.bodyActive {
  background-color: lightgreen;
  color: brown;
  height: 50px;
  width: 60px;
  display: inline-block;
  pointer-events: all;
}
